<li id="answer-<%= answer.id %>">
  <span class="user"><%= link_to answer.user.username, answer.user %></span>
  <span class="content"><%= answer.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(answer.created_at) %> ago.
  </span>
</li>
